body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
}

h1{
    text-align:center;
    margin-top:100px;
}
body{
    margin:0;
    background:white;
    color:black;
    font-family:Arial, sans-serif;
}

h1{
    text-align:center;
    margin-top:100px;
    font-size:48px;
    color:black;
}

p{
    color:#333;
    font-size:20px;
}

button{
    padding:12px 30px;
    background:black;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
